@media (max-width:992px) {
    header{
        background-color: white;
        padding: 10px 0px !important;
    }

    .persional-details{
        margin: 20px 0px !important;
    }

    .test-bg{
        margin: 0px !important;
    }
}